#1.Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

#2.Importing data

In [2]:
#importing data
path = r'/Users/tiaoshrieh/Desktop/IC Project'

In [3]:
df = pd.read_csv(os.path.join(path, '02 Data', 'original data', 'orders.csv'), index_col = False)

In [4]:
df.shape

(3421083, 7)

In [19]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'prepared data', 'orders_wrangled.csv'), index_col = False)

In [6]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'original data', 'products.csv'))

#3.Cleaning products data

In [6]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [7]:
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [8]:
df_prods.shape

(49693, 5)

In [9]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [10]:
df_prods_clean

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [11]:
df_dups = df_prods_clean [df_prods_clean.duplicated()]

In [12]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [13]:
df_prods_clean = df_prods_clean.drop_duplicates()

In [14]:
df_prods_clean

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [15]:
#Exporting clean products data
df_prods_clean.to_csv(os.path.join(path, '02 Data', 'prepared data', 'products_checked.csv'))

In [17]:
df_prods_clean.shape

(49672, 5)

#4. Cleaning orders data

In [16]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

Descriptive statistics look normal.

In [17]:
#Checking for mixed-type data
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

No mixed-type data exists in the dataset.

In [18]:
#Checking for missing values
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [22]:
df_ords_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [23]:
df_ords_nan

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,True
11,2168274,2,1,2,11,NaN,True
26,1374495,3,1,1,14,NaN,True
39,3343014,4,1,6,11,NaN,True
45,2717275,5,1,3,12,NaN,True
...,...,...,...,...,...,...,...
3420930,969311,206205,1,4,12,NaN,True
3420934,3189322,206206,1,3,18,NaN,True
3421002,2166133,206207,1,6,19,NaN,True
3421019,2227043,206208,1,1,15,NaN,True
3421069,3154581,206209,1,3,11,NaN,True

All the missing values in the days_since_prior_order column appear to have number 1 in the order_number column. 
This is probably because it was the first order and there is no prior order to count the days since. 
I choose to leave these missing values untouched since there is no reason to filter them out and, nevertheless,
analytical calculations can be done with these values remaining in the column.

In [24]:
df_ords['first_order'] = np.where(df_ords['days_since_prior_order'] == 'NaN' , False, True)

In [25]:
#dropping the unnamed column.
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

In [24]:
#Checking for duplicate values

In [26]:
df_dups = df_ords[df_ords.duplicated()]

In [27]:
df_dups

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, first_order]
Index: []

No duplicate values detected.

In [28]:
df_ords.shape

(3421083, 7)