Combining orders_products__prior and orders_wrangled datasets

01.Importing libraries

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

02.Importing data

In [3]:
#Import data
path = r'/Users/tiaoshrieh/Desktop/IC Project'

In [4]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'original data', 'order_products__prior.csv'))

In [5]:
df_ords_prior.shape

(32434489, 4)

In [6]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [8]:
df_ords_prior.duplicated().sum()

0

In [9]:
for col in df_ords_prior.columns.tolist():
  weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords_prior[weird]) > 0:
    print (col)

In [11]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'prepared data', 'orders_wrangled.csv'), index_col = False)

In [12]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'prepared data', 'products_checked.csv'))

In [13]:
df_dups = df_ords_prior[df_ords_prior.duplicated()]

In [14]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

03.Merging orders_products__prior and orders_wrangled

In [15]:
orders_products_combined = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [16]:
orders_products_combined.shape

(32640698, 11)

In [19]:
orders_products_combined.drop(columns = 'Unnamed: 0')

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both
...,...,...,...,...,...,...,...,...,...,...
32640693,2977660,206209,13,1,12,7.0,38730.0,6.0,0.0,both
32640694,2977660,206209,13,1,12,7.0,31477.0,7.0,0.0,both
32640695,2977660,206209,13,1,12,7.0,6567.0,8.0,0.0,both
32640696,2977660,206209,13,1,12,7.0,22920.0,9.0,0.0,both
32640697,272231,206209,14,6,14,30.0,NaN,NaN,NaN,left_only

In [20]:
orders_products_combined.to_pickle(os.path.join(path, '02 Data', 'prepared data', 'orders_products_combined.pkl'))