Combining orders_products_combined and products datasets

01.Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

02.Importing data

In [2]:
#importing data
path = r'/Users/tiaoshrieh/Desktop/IC Project'

In [3]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'prepared data', 'products_checked.csv'))

In [4]:
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'prepared data', 'orders_products_combined.pkl'))

In [6]:
orders_products_combined.shape

(32640698, 11)

In [7]:
orders_products_combined

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,0,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,0,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,0,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,0,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both
...,...,...,...,...,...,...,...,...,...,...,...
32640693,3421081,2977660,206209,13,1,12,7.0,38730.0,6.0,0.0,both
32640694,3421081,2977660,206209,13,1,12,7.0,31477.0,7.0,0.0,both
32640695,3421081,2977660,206209,13,1,12,7.0,6567.0,8.0,0.0,both
32640696,3421081,2977660,206209,13,1,12,7.0,22920.0,9.0,0.0,both
32640697,3421082,272231,206209,14,6,14,30.0,NaN,NaN,NaN,left_only

In [5]:
orders_products_combined = orders_products_combined.drop(columns = ['Unnamed: 0', '_merge'])

03.Merging orders_products_combined and products_checked

In [6]:
orders_products_merged = df_prods.merge(orders_products_combined, on = 'product_id', indicator = True)

In [7]:
orders_products_merged.shape

(32404859, 15)

In [11]:
orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [12]:
orders_products_merged.to_pickle(os.path.join(path, '02 Data', 'prepared data', 'orders_products_merged.pkl'))